<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stonedot.todo.smartwalk">

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name="com.stonedot.todo.smartwalk.SmartWalkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LINE SDK Settings -->
        <activity android:name="jp.line.android.sdk.activity.LineAuthCompleteActivity"
            android:configChanges="keyboard|orientation"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="line.1486135868" />
            </intent-filter>
        </activity>

        <activity android:name="jp.line.android.sdk.activity.WebLoginActivity"
            android:exported="false"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="sensor">
        </activity>

        <service android:name="com.stonedot.todo.smartwalk.LINENotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="jp.line.sdk.ChannelId"
            android:value="1486135868" />
        <meta-data
            android:name="jp.line.sdk.AuthScheme"
            android:value="line.1486135868" />
    </application>

</manifest>